

:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    /*Padrão da margem será a borda*/
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: Roboto, sans-serif;
}
body {
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}





